@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #FFFFFF;
  --gray: #F2F2F2;
  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #B9BDCF;
  --gray5: #E0E0E0;
  --gray6: #BDBDBD;
  --black: #4E5150;
  --orange: #F2994A;

  --title-color: var(--black);
  --section-color: var(--gray1);
  --input-label-color: var(--gray2);
  --input-icon-color: var(--gray3);
  --input-placeholder-color: var(--gray3);
  --input-text-color: var(--gray1);
  --input-border-color: var(--gray3);
  
  --text-color: var(--gray1);
  --button-group-border-color: var(--gray3);
  --button-background-color: var(--gray5);
  --button-icon-color: var(--gray3);
  --checkbox-border-color: var(--gray3);
  --checkbox-label-color: var(--gray2);

  --subtitle-color: var(--gray);
  --item-subtitle-color: var(--gray2);
  --card-background-color: var(--gray);
  --bar-color: var(--gray6);
  --footer-text-color: var(--gray6);
  --background: var(--white);
}

* {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
}

header {
  max-height: 82px;
  height: 100%;
  width: 100%;
  padding: 0 12px;
  display: flex;
}

header span {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  
  width: 100%;
  color: var(--title-color);
  padding: var(--space-md) 6px;
}

main {
  height: auto;
  width: 100%;
  padding: 0 12px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

main div.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  width: 100%;
  margin-bottom: 40px;
  padding: 30px 12px var(--space-xs);
  border-radius: 12px;
  background-color: var(--card-background-color);
}

main div.card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 0 var(--space-xxlg);
}

main div.card ul li {
  width: 100%;
  padding: 0 var(--space-xs) var(--space);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

main div.card ul li img {
  height: 124px;
  width: 124px;
  border-radius: 12px;
  margin-right: var(--space-sm);
}

main div.card ul li div.info {
  height: 124px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

main div.card ul li div.info > span {
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  
  color: var(--title-color);
}

main div.card ul li div.info div.prices {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

main div.card ul li div.info div.prices span#new-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  
  color: var(--orange);
}

main div.card ul li div.info div.prices span#old-price {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: line-through;
  
  color: var(--title-color);
}

main div.card ul li div.info div.buttons {
  height: 50px;
  max-width: 140px;
  border-radius: 12px;
  border: 1px solid var(--button-group-border-color);
  padding: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

main div.card ul li div.info div.buttons span.item-count {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  
  color: var(--text-color);
  width: var(--space-xlg);
  text-align: center;
}

main div.card ul li div.info div.buttons button {
  height: 24px;
  width: 24px;
  color: var(--button-icon-color);
  background-color: var(--button-background-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
}

main div.card ul li div.info div.buttons button:focus {
  outline: none;
}

main div.card ul li div.info div.buttons button span.material-icons {
  
}

main div.card div.tax, main div.card div.total {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--bar-color);
  padding: 8px 0;
}

main div.card div.tax span, main div.card div.total span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  
  color: var(--text-color);
}

main form {
  width: 100%;
}

main form ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main form ul > span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  
  color: var(--section-color);
}

main form ul li {
  width: 100%;
  margin: 8px 0;
}

main form ul li > span {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  
  color: var(--input-label-color);
}

main form ul li div.input-container {
  width: 100%;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
  margin-top: 2px;
}

main form ul li div.input-container > span {
  color: var(--input-icon-color);
  margin: 7px 6px 7px 12px;
}

main form ul li div.input-container span:last-child {
  height: 24px;
  width: 24px;
  margin: 7px 2px 7px 0;
  background-color: var(--button-background-color);
  border-radius: 4px;
  cursor: pointer;
}

main form ul li div.input-container select {
  appearance: none;
  margin: 0 2px 0 6px;
}

main form ul li div.input-container input {
  margin: 0 12px 0 6px;
}

main form ul li div.input-container input,
main form ul li div.input-container select {
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  border: 0;
  background-color: transparent;
}

main form ul li div.input-container input::placeholder,
main form ul li div.input-container select {
  color: var(--input-placeholder-color);
}

main form ul li div.input-container input:focus,
main form ul li div.input-container select:focus {
  color: var(--input-text-color);
  outline: none;
}

main form ul.shipping {
  margin-top: var(--space-lg);
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

main form ul.shipping li:nth-child(5),
main form ul.shipping li:nth-child(6) {
  width: 50%;
}

main form ul.shipping li:nth-child(5) {
  padding: 0 16px 0 0px;
}

main form div.bottom-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

main form div.bottom-container div.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

main form div.bottom-container div.checkbox-container input {
  margin-right: 8px;
}

main form div.bottom-container div.checkbox-container span {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  
  color: var(--checkbox-label-color);
}

main form div.bottom-container button {
  font-size: 16px;
  line-height: 20px;
  
  color: var(--white);
  background-color: var(--orange);
  padding: 17px 45px;
  border-radius: 12px;
  border: 0;
  align-self: flex-end;
  cursor: pointer;
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: var(--space);
}

footer span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

footer span a {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

@media (min-width: 400px) {

  main form ul li div.input-container span:last-child {
    margin: 7px 6px;
  }

  main form ul li div.input-container select {
    margin: 0 6px;
  }

}

@media (min-width: 500px) {

  main div.card ul li div.info div.prices {
    max-width: 105px;
    width: 100%;
  }

}

@media (min-width: 768px) {
  header {
    width: 90%;
    padding: 0;
  }

  main {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  main div.card {
    margin: 0;
    max-width: 383px;
    width: 45%;
  }
  
  main form {
    width: 45%;
    max-width: 465px;
  }

}

@media (min-width: 1024px) {
  header {
    width: 88%;
    padding: 0;
  }

  header span {
    padding: var(--space) 6px;
  }

  main div.card {
    margin: 0;
    width: 100%;
  }
  
  main form {
    width: 100%;
  }

}

@media (min-width: 1440px) {
  header {
    width: 75%;
  }

  header span {
    padding: var(--space);
  }

}

@media (min-width: 2560px) {
  header {
    width: 55%;
  }

  header span {
    font-size: 36px;
    line-height: 44px;
    padding: var(--space) 0px;
  }

}